form {
  padding: 20px;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px auto;
  background: #3c1f3c;
  color: #fff;
  border: 0;
  display: block;
}

input[type="submit"] {
  margin: 10px auto;
  background: #eeee;
  border: 0;
  padding: 6px 20px;
  display: block;
}
